# フォルダの場所
$EXMANCMD="C:/Users/YourName/Documents/ExManCmd_win/ExManCmd.exe"
$ExtensionBundleId="io.kotodu.ilo"
$ZXPFILE="C:/Users/YourName/Documents/GitHub/illustrator-Path-Join/dist/ilo.zxp"

# パッケージ・署名
Start-Process -FilePath $EXMANCMD -ArgumentList "/remove $ExtensionBundleId" -Wait -Verb runas

exit
