# フォルダの場所
$EXMANCMD="C:/Users/YourName/Documents/ExManCmd_win/ExManCmd.exe"
$ExtensionBundleId="io.kotodu.ipj"

# パッケージ・署名
Start-Process -FilePath $EXMANCMD -ArgumentList "/remove $ExtensionBundleId" -Wait -Verb runas

exit
